server {
    server_name workoutplan.stgenv.nl;
    root $WOPL_PROJECT_ROOT/frontend/bin; ## <-- Your only path reference.

    listen              443 ssl;
    listen              [::]:443;
    ssl_certificate     /var/local/cert/stgenv.nl/bundle.cert;
    ssl_certificate_key /var/local/cert/stgenv.nl/wildcard_stgenv_nl.key;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    index index.html;

    location /public {
        alias $WOPL_PROJECT_ROOT/project/frontend/public;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    server_name workoutplan.stgenv.nl

    listen      80;
    listen      [::]:80;
    return      301 https://workoutplan.stgenv.nl$request_uri;
}

server {
    server_name wopl.stgenv.nl
                wopltest.stgenv.nl;

    listen              443 ssl;
    listen              [::]:443;
    ssl_certificate     /var/local/cert/stgenv.nl/bundle.cert;
    ssl_certificate_key /var/local/cert/stgenv.nl/wildcard_stgenv_nl.key;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    return      301 https://workoutplan.stgenv.nl$request_uri;
}
