# Server settings to the backend
# Put this file in the /etc/nginx/sites-enabled/ directory
#

server {
    server_name         $WOPL_TEST_BACKEND_HOSTNAME;
    access_log          $WOPL_TEST_HOME/logs/backend-access.log;
    error_log           $WOPL_TEST_HOME/logs/backend-error.log;

    ssl_certificate     /var/local/cert/stgenv.nl/bundle.cert;
    ssl_certificate_key /var/local/cert/stgenv.nl/wildcard_stgenv_nl.key;

    location / {
        proxy_pass http://wopl_test_backend;
        include $CONFIGURATION_ROOT/etc/proxy-common.nginx;
    }
    include $CONFIGURATION_ROOT/etc/ssl-common.nginx;
}

upstream wopl_test_backend {
    server 127.0.0.1:$WOPL_TEST_BACKEND_PORT;
    keepalive 30;
}