# Server settings to the backend
# Put this file in the /etc/nginx/sites-enabled/ directory
#

server {
    server_name         $WOPL_TEST_FRONTEND_HOSTNAME;
    root                $WOPL_TEST_HOME/project/frontend/dist;
    access_log          $WOPL_TEST_HOME/logs/frontend-access.log;
    error_log           $WOPL_TEST_HOME/logs/frontend-error.log;

    ssl_certificate     /var/local/cert/stgenv.nl/bundle.cert;
    ssl_certificate_key /var/local/cert/stgenv.nl/wildcard_stgenv_nl.key;

    location /uploads {
        alias $WOPL_TEST_HOME/uploads;
    }

    location /public {
        alias $WOPL_TEST_HOME/project/frontend/public;
    }

    location / {
        try_files $uri $uri/ index.html;
    }

    index index.html;
    include $CONFIGURATION_ROOT/etc/ssl-common.nginx;

}

# Redirect non-ssl traffic to ssl
server {
    server_name $WOPL_TEST_FRONTEND_HOSTNAME

    listen      80;
    listen      [::]:80;
    return      301 https://$WOPL_TEST_FRONTEND_HOSTNAME$request_uri;
}
