# Server settings to the backend
# Put this file in the /etc/nginx/sites-enabled/ directory
#

server {
    server_name         $WOPL_TEST_FRONTEND_HOSTNAME;

    ssl_certificate     /var/local/cert/stgenv.nl/bundle.cert;
    ssl_certificate_key /var/local/cert/stgenv.nl/wildcard_stgenv_nl.key;

    include $CONFIGURATION_ROOT/etc/ssl-common.nginx;
    include $CONFIGURATION_ROOT/wopl_test/etc/compiled/frontend-generic.nginx;
}

server {
    server_name         workoutmasterplan.com;

    ssl_certificate     /var/local/cert/workoutmasterplan.com/bundle.cert;
    ssl_certificate_key /var/local/cert/workoutmasterplan.com/certificate.key;

    include $CONFIGURATION_ROOT/etc/ssl-common.nginx;
    include $CONFIGURATION_ROOT/wopl_test/etc/compiled/frontend-generic.nginx;
}

server {
    server_name         www.workoutmasterplan.com;

    ssl_certificate     /var/local/cert/workoutmasterplan.com/bundle.cert;
    ssl_certificate_key /var/local/cert/workoutmasterplan.com/certificate.key;

    include $CONFIGURATION_ROOT/etc/ssl-common.nginx;
    return 301 https://workoutmasterplan.com$request_uri;
}

# Redirect non-ssl traffic to ssl
server {
    server_name $WOPL_TEST_FRONTEND_HOSTNAME workoutmasterplan.com www.workoutmasterplan.com

    listen      80;
    listen      [::]:80;
    return      301 https://workoutmasterplan.com$request_uri;
}
