Description=Helliot SRP web
After=network.target

[Service]
Type=simple
# Wait for the database
ExecStartPre=/bin/sleep 15
ExecStart=$CONFIGURATION_ROOT/helliot_srp/etc/runweb.sh $HSRP_BACKEND_PORT
User=$HSRP_DAEMON_USER
Group=$HSRP_PROJECT_GROUP
RuntimeDirectory=$HSRP_HOME
WorkingDirectory=$HSRP_HOME/project/src
Restart=always
StandardOutput=append:$HSRP_HOME/project/log/web.log
StandardError=append:$HSRP_HOME/project/log/web_err.log

[Install]
WantedBy=multi-user.target