Description=Helliot SRP worker
After=network.target

[Service]
Type=simple
ExecStart=$CONFIGURATION_ROOT/helliot_srp/etc/runworker.sh
User=$HSRP_DAEMON_USER
Group=$HSRP_PROJECT_GROUP
RuntimeDirectory=$HSRP_HOME
WorkingDirectory=$HSRP_HOME/project/src
Restart=always
StandardOutput=append:$HSRP_HOME/project/log/worker.log
StandardError=append:$HSRP_HOME/project/log/worker_err.log

[Install]
WantedBy=multi-user.target